.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 40px 30px;
    background-color: #15558d;
    box-sizing: border-box;
    flex-wrap: wrap;
    .col {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: #fff;
        flex: 22%;
        margin-right: 64px;
        &:last-child {
            margin-right: 0;
        }
        .logo {
            width: 180px;
            margin-bottom: 30px;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        p {
            margin-bottom: 20px;
        }
        h4 {
            font-size: 20px;
            font-weight: 7800;
            margin-bottom: 30px;
            text-transform: capitalize;
        }
        ul {
            li {
                margin-bottom: 10px;
            }
        }
        .links {
            display: flex;
            flex-direction: row;
            align-items: center;
            svg {
                margin-right: 10px;
                font-size: 20px;
            }
        }
    }
}
