.docBooking {
    padding: 30px;
    display: flex;
    justify-content: center;
    .contentWrapper {
        width: 1000px;
    }
    .header {
        display: flex;
        justify-content: center;
        .docProfile {
            width: 1000px;
            background-color: #fff;
            padding: 1.5rem;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
            display: flex;
            align-self: center;
            margin-bottom: 20px;
            .photo {
                display: flex;
                width: 110px;
                img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 4px;
                }
            }
            .docInfo {
                display: flex;
                flex-direction: column;
                margin-left: 10px;

                h4 {
                    color: #2e3842;
                    font-weight: 500;
                    font-size: 17px;
                    margin-bottom: 5px;
                }
                .docInfoLocation {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: #757575;

                    span {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .todayDate {
        margin-bottom: 20px;
        h4 {
            color: #272b41;
            font-weight: 500;
            font-size: 17px;
        }
    }
}
